*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFFFFF;
}
.nav-container{
    max-width: 1360px;
    margin: 0px auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aquamarine; */
    padding: 16px 0px;
    
}
nav .menu{
    display: flex;
    gap: 32px;
    list-style: none;
    cursor: pointer;
    transition-duration: 0.4s;

}
li:hover{
    background-color: lightgreen;
}
.btn:hover{
    background-color: lightgreen;
}
.menu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}
.nav-container .logo{
    width: 139px;
    height: 60px;
}
.btn{
    font-size: 16px;
    font-weight: 600;
    padding: 12.5px 16px;
    color: #FFFFFF;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}
#hero{
    padding: 115.5px 120px 125px 120px; 
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#hero .hero-section{
    max-width: 1360px;
    height: 460px;
    margin: 0px auto;
}
#hero .hero-section .hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 115.5px 120px 179px 120px; */
    padding: 0px 295px;
}
.hero-container .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-content .hero-btn{
    padding: 8px 12px 8px 5px;
    color: #469165;
    font-size: 16px;
    font-weight: 500; 
    border: none;
    border-radius: 1000px;
    background-color: #FFFFFF;
    margin-bottom: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.hero-btn:hover{
    background-color: lightgreen;
}

 .hero-container .hero-content h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #FFFFFF;
    margin-bottom: 16px;
 }
 .hero-content .color-h1{
    color: #30B868;
 }
 .hero-container .hero-content p{
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: 300;
    margin-bottom: 32px;
 }
 .hero-container .button{
    display: flex;
    gap: 16px;
   
 }
 .btn1{
    padding: 16px 25px 16.5px 16px;
    border: none;
    border-radius: 4px;
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 10 20 0 #000000;
    cursor: pointer;
    transition-duration: 0.4s;
    
 }
 .btn1:hover{
    background-color: lightgreen;
 }
 .hero-container .button .btn2{
    color: #FFFFFF;
    padding:  16.5px 16px 16.5px 25px;
    background-color: transparent;
    border-color: #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition-duration: 0.4s;
    
 }
 .button .btn2:hover{
    background-color: lightgreen;
 }
 
 #notes{
    padding: 0px 120px;
 }
 .notes-container{
    max-width: 1360px;
    margin: 0px auto;
 }
 .notes-container .section-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .notes-container .section-heading h1{
    margin-top: 60px;
    margin-bottom: 16px;
    font-size: 55px;
    font-weight: bold;
    color: #001931;

 }
 .notes-container .section-heading p{
    margin-bottom: 44px;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
 }
 .notes-container .notes-box{
    display: flex;
    gap: 24px;
    /* box-shadow: ; */
 }
 .notes-container .notes-box .notes-card{
    position: relative;
     box-shadow: 0 0 8 0 #0000002c;
 }
 .notes-box .notes-card{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    max-width: 322px;
    max-height: 300px;
    border-radius: 8px;
    justify-content: center;
    background-color: #F7F6F2;
;
    
    box-shadow: 0 0 8 0 #0000002c;
 }
 .notes-card img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F95555;
    padding: 13px;
    margin-bottom: 16px;


 }
 .notes-card h2{
    font-size: 24px;
    font-weight: 600px;
    color: #001931;
    margin-bottom: 16px;
    text-align: center;
 }
  .notes-card p{
    font-size: 15px;
    line-height: 20px;
   
    color: #627382;
    margin-bottom: 16px;
    text-align: center;
  }
  .notes-card{
    position: relative;
    box-shadow: 0 6 8 2 black;
    border: 1px solid #d5d8dba5;
    
  }
  .notes-card:hover{
    background-color: lightcyan;
  }
  #brain{
    
    padding: 120px;
  }
  .brain-container{
    max-width: 1360px;
    margin: 0px auto;
    
    display: flex;
    align-items: center;
    gap: 70px;
    justify-content: space-between;
  }
  .brain-container .brain-content h5{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #469165;
    margin-bottom: 16px;
  }
  .brain-container .brain-content h1{
    font-size: 55px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
  }
  .brain-container .brain-content p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 40px;
    
  }
  .brain-content ul{
    list-style: none;
    /* color: #001931; */
  }
  .brain-content .list ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* align-items: center; */
    justify-content: flex-start;
  }
  .list-item{
    display: flex;
    gap: 6px;
    color: #001931;
    font-size: 16px;
    font-weight: 500;
  }
  #early-access{
    padding: 0px 120px 120px;
    
  }
  .early-section{
    max-width: 1360px;
    margin: 0px auto;
    background-color: #F7F6F2;
    border-radius: 12px;
  }
  .early-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 80px 40px;
  }
  .early-container h1{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
  }
  .early-container p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    text-align: center;
  }
  #footer{
    background-color: #001931;
  }
  .footer-container{
    max-width: 1360px;
    height: ;
    margin: 0px auto;
  }
  .footer-container .footer-header{
    display: flex;
    justify-content: space-between;
    padding: 120px 120px 80px 120px;
  }
  .footer-menu .menu1{
    display: flex;
   list-style: none;
   gap: 16px;
   

    

  }
  .footer-menu h6{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 16px;
    color: #FFFFFF;
  }
  .line p{
   
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    
  }
  hr{
    height: 0.1px;
  }
  